html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font-size: 62.5%;
    max-width:100%;
    background: url(img/14813842-falling-dollar-bills-on-white-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    font-size: 1.6rem;
}



/* do reset above */

/* container */

.container{
    max-width: 100%;
}

/* title */
h1{
    font-size: 10rem;
    text-align: center;
    margin: 5% 0 7% 0;
    background-color: rgb(46, 46, 46);
}

/* span{
    color: #85bb65;
} */

.percentProgress{
    display:flex;
    justify-content: center;
    align-items:baseline;
}

.percentProgress p{
    margin: 0 auto;
    background-color: rgb(46, 46, 46);
    font-size: 4rem;
    margin-top: 2%;
    color: rgb(8, 153, 45);
}

/* boxes */
.countdownBoxes{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    /* height: 200px; */
}

.countdownBoxes div{
    width: 25%;
    text-align:center;
    background-color: rgb(46, 46, 46);
    display:flex;
    flex-direction: column;
}

.countdownBoxes p{
    font-size: 5rem;
}

#days, #hours, #minutes{
    font-size: 7rem;
    color:white;
    margin-top: 4%;
    margin-bottom: 0;
}


.calendarBox{
    margin-top:5%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.incomplete, .complete{
    background-color: red;
    width: .578%;
    height: 3vh;
    margin: 1.5px 0;
}

.complete{
    background-color: green;
    z-index: 999;
    transition: 1.5s;
    transition-delay: 1s;
}